@import "variables.scss";

body {
  margin: 0px;
  counter-reset: step;
}

#app {
  font-family: "SF UI Display Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  height: $default-height;
  max-width: $default-max-width;
}