@import "mixins.scss", "variables.scss";

.popup {
  position: fixed;
  display: flex;
  top: 0px;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  max-width: $default-max-width;

  &-content {
    position: absolute;
    top: 50%;
    left: calc(50% - 31px);
    transform: translate(-50%, -50%);
    margin: 0px 31px;
    padding: 15px;
    height: auto;
    width: calc(100% - 91px);
    background: $popUp-bg;
    z-index: 10;
    @include border-radius($popUp-radius);

    &__header {
      position: relative;
      margin: 0px auto;
      height: 70px;
      width: 70px;
      @include border-radius(100%);
      background: url("./images/profil.png") center center no-repeat;

      &--badge:after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 28px;
        width: 28px;
        background: url("./images/badge.png") center center no-repeat;
      }

      img {
        height: auto;
        width: 100%;
        @include border-radius(100%);
      }
    }

    &__body {
      h2 {
        display: -webkit-box;
        margin: 20px 0px;
        font-family: "SF UI Display Semibold";
        font-size: 18px;
        color: $popUp-color;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p {
        margin: 10px 0px 45px;
        font-size: 14px;
        color: $popUp-color;
      }
      
      .double-row {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 45px;
      }
    }

    &__footer {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr;
      padding: 0px 22px;

      &--vertical {
        display: flex;
        flex-direction: column;
      }

      button {
        margin-bottom: 15px;
        height: 44px;
        width: 100%;
      }
      button:last-of-type {
        margin-bottom: 0px;
      }
    }

    &__close {
      position: absolute;
      left: 0px;
      top: 0px;
      padding: 0px;
      background: url("./images/close.png") center center no-repeat;
    }
  }

  &-overlay {
    @include overlay($popUp-bg-overlay, $popUp-opacity-overlay);
  }
}