// VARIABLES

// DEFAULT WIDTH
$default-height: 667px;
$default-max-width: 375px;

// COLORS
$main-color: #A70174;
$minor-color: #aaa;


// POPUP
$popUp-bg: #eee;
$popUp-radius: 16px;
$popUp-bg-overlay: #333;
$popUp-opacity-overlay: 1;
$popUp-max-width: 375px;


// CONTENT
$content-max-width: 414px;